<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gobang_game.mapper.UserMapper">

    <!--根据用户名，从数据库查询用户-->
    <select id="selectByUsername" resultType="com.example.gobang_game.model.User">
        select * from user where username=#{username}
    </select>

    <!--插入用户-->
    <insert id="insert">
        insert into user values(null,#{username},#{password},1000,0,0)
    </insert>

    <update id="userWin">
        update user set totalCount= totalCount+1,winCount= winCount+1,score= score+50
        where userId =#{userId}
    </update>

    <update id="loseWin">
        update user set totalCount= totalCount+1,score= score-50
        where userId =#{userId}
    </update>
</mapper>